<footer>
    <section class="first-footer">
        <div class="div-logo">
            <img class="logo-footer" src="/images/logo-BookHouse.svg" alt="logo">
        </div>
        <div class="redes">
            <a href="">
                <p>Instragram <i class="fa-brands fa-instagram"></i> </p>
            </a>
            <a href="">
                <p>Facebook <i class="fa-brands fa-facebook"></i> </p>
            </a>
            <a href="">
                <p>Twitter <i class="fa-brands fa-twitter"></i> </p>
            </a>
        </div>
    </section>

    <!-- <section class="second-footer">
<h4>Nuestros locales</h4>
<p></p>
</section> -->

    <section class="second-footer">
        <h4>Nuestra Empresa</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit repellendus voluptate quam
            eligendi! Ut, rerum!</p>
    </section>

    <section class="third-footer">
        <p><i class="fa-solid fa-copyright"></i> Copyright 2023 Book House, todos los derechos reservados.</p>
    </section>
</footer>