<header class="main-header">
    <nav>
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <a class="logoLink" href="/"><img class="logo" src="/images/products/logo-BookHouse.svg" alt=""></a>

        <form action="/search" method="get" class="navbar-rigth">
            <input type="text" placeholder="Buscá tu producto" name="search">
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="icons-info">
            <div class="min-icon">
                <i class="fa-solid fa-user"></i>
                <a href="/user/login"><p>Ingresar</p>
            </div>

            <div class="min-icon">
                <i class="fa-solid fa-heart"></i>
                <a href=""><p>Favoritos</p></a>
            </div>

            <div class="min-icon">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="/product/cart"><p>Carrito</p></a>
            </div>
        </div>
    </nav>
</header>