<header class="main-header">
    <nav>
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <img class="logo" src="/images/logo-BookHouse.svg" alt="">

        <div class="navbar-rigth">
            <input type="text" placeholder="Buscá tu producto">
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="icons-info">
            <div class="min-icon">
                <i class="fa-solid fa-user"></i>
                <a href="/user/login"><p>Ingresar</p>
            </div>

            <div class="min-icon">
                <i class="fa-solid fa-heart"></i>
                <a href=""><p>Favoritos</p></a>
            </div>

            <div class="min-icon">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="/product/cart"><p>Carrito</p></a>
            </div>
        </div>
    </nav>
</header>