@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ebede3;
}

header {
    background-color: #84a98c;
    height: 12vh;
    min-height: 94px;
    max-height: 100px;
    /* width: 100vw; */
    width: 100%;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    min-height: 94px;
    max-height: 100px;
    flex-wrap: nowrap;
}

.logo {
    width: 100%;
}

.logoLink {
    max-width: 122px;
}

.burguer-menu, .burguer-menu-2 {
    width: 50px;
    border-radius: 8px;
    height: 50px;
}

.burguer-menu i, .burguer-menu-2 i {
    font-size: 25px;
}

.search {
    background-color: white;
    border: none;
}

.search i {
    background-color: white;
    font-size: 18px;
}

nav input {
    width: 95%;
    height: 30px;
    border: none;
}

.navbar-rigth {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
}

.icons-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 7px;
    display: none;
}

.min-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    height: 100%;
    width: 18%;
    max-width: 53px;
}

.min-icon a {
    text-decoration: none;
    color: black;
}

.min-icon p {
    margin: 0;
    font-size: 14px;
}

.min-icon p:hover {
    color: white;
    text-decoration: underline;
}

/* BODY */
/* PRIMER CARRUSEL */

.carrusel-oferts {
    height: 22vh;
    overflow: hidden;
    min-height: 168px;
    max-height: 177px;
}

.item-carrusel {
    height: 102%;
    position: relative;
}

.image-carrusel {
    height: 100%;
}

.arrows-carrusel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

arrows-carrusel i {
    font-size: 20px;
}

.circlesCarrusel {
    position: absolute;
    bottom: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.circlesCarrusel a {
    padding: 0 3px;
}

a i {
    color: black;
}

.info-carrusel {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}

.info-carrusel h2{
    font-family: 'Belanosima', sans-serif;
    text-align: left;
    font-size: 15px;
    margin: 5px 15px;
    color: black;
    /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87); */
}

.info-carrusel button {
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin-left: 60px;
    background-color: #42615a;
    border: 1px solid #000
}

.info-carrusel button:hover {
    background-color: #fff;
}

#tarjetaCarrusel-1 {
    background-color: yellow;
}

#tarjetaCarrusel-1 img,
#tarjetaCarrusel-2 img,
#tarjetaCarrusel-3 img {
    width: 100%;
    height: 100%;
}

#tarjetaCarrusel-2 {
    background-color: green;
}

#tarjetaCarrusel-3 {
    background-color: violet;
}

/* SEGUNDO CARRUSEL Y TERCERO*/

.carrusel-products{
    /* width: 100vw; */
    width: 100%;
    max-width: 395px;
    max-height: 404px;
    min-height: 334px;
    height: 54vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    margin: 8px;
    width: 99%;
}

.product-book {
    width: 50.1%;
    max-width: 198px;
    height: 101%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.book {
    /* background-color: rgb(6, 89, 161); */
    width: 100%;
    height: 40vh;
    border: 1px solid black;
    max-height: 287px;
    min-height: 228px;
    min-width: 197px;
}

.book img {
    width: 100%;
    height: 100%;
}

.info-book {
    background-color: #84a98c;
    width: 100%;
    /* height: 40px; */
    border: 1px solid black;
    min-width: 197px;
}

.info-book h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.add a {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.arrows-carrusel2 {
    position: absolute;
    display: flex;
    width: 130%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-left: 0;
    min-width: 257px;
}

.arrows-carrusel2 i {
    font-size: 25px;
    margin: 0; 
    padding: 0;
}

/* .arrow-book {
    padding-right: 70px;
} */ 

.add {
    background-color: #84a98c;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    display: none;
    font-family: 'Belanosima', sans-serif;
    min-width: 197px;
}

.add i {
    font-size: 25px;
}

.product-book:hover .add{
    display: flex;
}

/* AUTORES */

.authors {
    height: 65vh;
    min-height: 417px;
    max-height: 425px;
    /* width: 100vw; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.author-book {
    border-radius: 50%;
    /* width: 55vw; */
    width: 55%;
    min-width: 189px;
    margin: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.author-book a img {
    width: 90%;
    height: 180px;
    border-radius: 50%;
}

.author-book h3 {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    color: black;
    background-color: #84a98c;
    border-radius: 5px;
}

.author-3, .author-4 {
    display: none;
}

/* TODOS LOS LIBROS */

.productsAll {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #84a98c;
}

.productLink {
    text-decoration: none;
    color: black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}

.product-book-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
}

.product-book-end .book {
    max-width: 198px;
    box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.75);
}

.product-book-end .info-book {
    max-width: 198px;
    box-shadow: 8px 17px 11px 6px rgba(0,0,0,0.75);
}

/* article:hover .info-book {
    box-shadow: 7px 17px 11px 6px rgba(1, 231, 97, 0.75);
} */

.product-book-end .add {
    max-width: 197px;
    box-shadow: 8px 24px 12px 6px rgba(0,0,0,0.75);
}

.product-book-end:hover .add{
    display: flex;
}

.button-fav {
    background-color: #84a98c;
    border: none;
}

/* FOOTER */

footer {
    background-color: #84a98c;
    /* width: 100vw; */
    width: 100%;
}

.first-footer {
    display: flex;
    flex-wrap: wrap;
    max-height: 90px;
}

.div-logo {
    width: fit-content;
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 90px;
}

.logo-footer {
    width: 100px;
    max-height: 90px;
}

.redes {
    /* width: 45vw; */
    width: 45%;
    height: 15vh;
    max-height: 90px;
}

.redes p {
    margin: 10px 0 12px 0;
    font-weight: 700;
    font-size: 13px;
}

.redes p:hover {
    color: white;
    text-decoration: underline;
}

.redes a {
    text-decoration: none;
    color: #000;
}

.second-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.second-footer h4 {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.second-footer p {
    margin: 0;
    font-size: 12px;
}

.third-footer p {
    margin: 5px 0 0 0;
    font-size: 12px;
    text-align: left;
}

/* BARRA IZQUIERDA */

.big-body {
    display: flex;
}

.body-left {
    width: 70px;
    height: 100%;
    background-color: #42615a;
    position: fixed;
    display: none;
}

.body-rigth {
    width: 100%;
}

.burguer-menu-2 {
    text-align: center;
    border: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #42615a;
}

.redes-body-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 190px;
}

.redes-body-left a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}

.redes-body-left a i:hover {
    color: white;
}

.redes-body-left a i{
    font-size: 30px;
}

.categorys a {
    text-decoration: none;
    color: black;
}

.categorys a p:hover {
    color: white;
    text-decoration: underline;
}

.categorys h3 {
    font-weight: 900;
}

.categorys h3, .categorys p {
    font-size: 13px;
    text-align: center;   
    font-weight: 700;
}

@media (min-width: 480px) {
    header {
        height: 15vh;
    }

    nav {
        height: 15vh;
    }

    .logo {
        max-width: 122px;
    }

    .item-carrusel {
        height: 100%;
    }

    .carrusel-products {
        max-width: 580px;
    }

    .product-book {
        width: 34%;
        max-width: 200px;
    }

    .arrows-carrusel2 {
        min-width: 239px;
    }

    #book1 .arrows-carrusel2 .arrow-rigth,
    #book2 .arrows-carrusel2 .arrow-left,
    #book3 .arrows-carrusel2 .arrow-rigth,
    #book4 .arrows-carrusel2 .arrow-left,
    #book5 .arrows-carrusel2 .arrow-rigth,
    #book6 .arrows-carrusel2 .arrow-left,
    #book7 .arrows-carrusel2 .arrow-rigth,
    #book8 .arrows-carrusel2 .arrow-left,
    #book9 .arrows-carrusel2 .arrow-rigth,
    #book10 .arrows-carrusel2 .arrow-left,
    #book11 .arrows-carrusel2 .arrow-rigth,
    #book12 .arrows-carrusel2 .arrow-left,
    #book13 .arrows-carrusel2 .arrow-rigth,
    #book14 .arrows-carrusel2 .arrow-left,
    #book15 .arrows-carrusel2 .arrow-rigth,
    #book16 .arrows-carrusel2 .arrow-left,
    #book17 .arrows-carrusel2 .arrow-rigth,
    #book18 .arrows-carrusel2 .arrow-left,
    #book19 .arrows-carrusel2 .arrow-rigth,
    #book20 .arrows-carrusel2 .arrow-left {
        opacity: 0;
    }

    .carrusel-oferts {
        height: 30vh;
        min-height: 188px;
        max-height: 215px;
    }

    .author-book a img {
        max-width: 280px;
    }

    .navbar-rigth {
        width: 50%;
        max-width: 320px;
    }

    /* TODOS LOS LIBROS */

    .products {
        max-width: 574px;
    }

    .product-book-end {
        width: 48%;
    }
}

@media (min-width: 769px) {
    nav {
        justify-content: space-between;
    }

    .navbar-rigth {
        align-self: flex-end;
        margin-bottom: 10px;
        width: 35%;
        /* max-width: 350px; */
    }

    .icons-info {
        display: flex;
        width: 37%;
        max-width: 310px;
    }
    /* .product-book {
        width: 21%;
        max-width: 208px;
    } 

    .carrusel-products {
        max-width: 1000px;
    }

    .arrows-carrusel2 {
        width: 118%;
    } */

    .carrusel-oferts {
        min-height: 214px;
        max-height: 240px;
    }

    .product-book {
        width: 32%;
        max-width: 201px;
    } 

    .carrusel-products {
        max-width: 800px;
    }

    .arrows-carrusel2 {
        width: 115%;
        min-width: 233px;
    } 

    .burguer-menu {
        display: none;
    }

    #book1 .arrows-carrusel2 .arrow-rigth,
    #book2 .arrows-carrusel2 .arrow-left,
    #book2 .arrows-carrusel2 .arrow-rigth,
    #book3 .arrows-carrusel2 .arrow-left,
    /* #book3 .arrows-carrusel2 .arrow-rigth, */
    /* #book4 .arrows-carrusel2 .arrow-left, */
    #book4 .arrows-carrusel2 .arrow-rigth,
    #book5 .arrows-carrusel2 .arrow-left,
    #book5 .arrows-carrusel2 .arrow-rigth,
    #book6 .arrows-carrusel2 .arrow-left,
    /* #book6 .arrows-carrusel2 .arrow-rigth, */
    /* #book7 .arrows-carrusel2 .arrow-left, */
    #book7 .arrows-carrusel2 .arrow-rigth,
    #book8 .arrows-carrusel2 .arrow-left,
    #book8 .arrows-carrusel2 .arrow-rigth,
    #book9 .arrows-carrusel2 .arrow-left,
    /* #book9 .arrows-carrusel2 .arrow-rigth, */
    /* #book10 .arrows-carrusel2 .arrow-left, */
    #book11 .arrows-carrusel2 .arrow-rigth,
    #book12 .arrows-carrusel2 .arrow-left,
    #book12 .arrows-carrusel2 .arrow-rigth,
    #book13 .arrows-carrusel2 .arrow-left,
    /* #book13 .arrows-carrusel2 .arrow-rigth, */
    /* #book14 .arrows-carrusel2 .arrow-left, */
    #book14 .arrows-carrusel2 .arrow-rigth,
    #book15 .arrows-carrusel2 .arrow-left,
    #book15 .arrows-carrusel2 .arrow-rigth,
    #book16 .arrows-carrusel2 .arrow-left,
    #book16 .arrows-carrusel2 .arrow-rigth,
    #book17 .arrows-carrusel2 .arrow-left,
    /* #book17 .arrows-carrusel2 .arrow-rigth, */
    #book18 .arrows-carrusel2 .arrow-left,
    #book18 .arrows-carrusel2 .arrow-rigth,
    #book19 .arrows-carrusel2 .arrow-left
    /* #book19 .arrows-carrusel2 .arrow-rigth, */
    /* #book20 .arrows-carrusel2 .arrow-left */ {
        opacity: 0;
    }

    #book3 .arrows-carrusel2 .arrow-rigth,
    #book4 .arrows-carrusel2 .arrow-left,
    #book6 .arrows-carrusel2 .arrow-rigth,
    #book7 .arrows-carrusel2 .arrow-left,
    #book9 .arrows-carrusel2 .arrow-rigth,
    #book10 .arrows-carrusel2 .arrow-left,
    #book13 .arrows-carrusel2 .arrow-rigth,
    #book14 .arrows-carrusel2 .arrow-left,
    #book16 .arrows-carrusel2 .arrow-rigth,
    #book17 .arrows-carrusel2 .arrow-left,
    #book19 .arrows-carrusel2 .arrow-rigth,
    #book20 .arrows-carrusel2 .arrow-left {
        opacity: 1;
    }

    .authors {
        height: 34vh;
        max-width: 892px;
        margin: auto;
        min-height: 211px;
        max-height: 225px;
    }

    .author-book {
        width: 33vw;
        max-width: 290px;
    }

    /* .author-3 {
        display: flex;
    } */

    .body-rigth {
        width: 100%;
        margin-left: 70px;
    }

    .body-left {
        display: block;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first-footer {
        width: 30%;
    }

    .second-footer {
        width: 29%;
    }

    .third-footer {
        width: 25%;
        align-self: flex-end;
    }

    /* TODOS LOS LIBROS */

    .products {
        max-width: 860px;
    }

    .product-book-end {
        width: 32%;
    }
}

@media (min-width: 1220px) {
    header {
        height: 12vh;
        min-height: 94px;  
    }
    nav {
        height: 12vh;
        min-height: 94px;
    }

    .logo {
        margin-left: 50px;
    }

    .icons-info {
        width: 390px;
        max-width: 360px;
    }

    .navbar-rigth {
        margin-left: 135px;
    }

    .navbar-rigth input{
        height: 40px;
    }

    .min-icon p, .min-icon i {
        font-size: 18px;
    }

    .carrusel-oferts {
        min-height: 230px;
        max-height: 400px;
    }

    .product-book {
        width: 20%;
        max-width: 191px;
    } 

    .carrusel-products {
        max-width: 1140px;
    }

    .arrows-carrusel2 {
        min-width: 228px;
    }

    #book3 .arrows-carrusel2 .arrow-rigth,
    #book4 .arrows-carrusel2 .arrow-left,
    #book6 .arrows-carrusel2 .arrow-rigth,
    #book7 .arrows-carrusel2 .arrow-left,
    #book9 .arrows-carrusel2 .arrow-rigth,
    #book10 .arrows-carrusel2 .arrow-left,
    #book13 .arrows-carrusel2 .arrow-rigth,
    #book14 .arrows-carrusel2 .arrow-left,
    #book16 .arrows-carrusel2 .arrow-rigth,
    #book17 .arrows-carrusel2 .arrow-left,
    #book19 .arrows-carrusel2 .arrow-rigth,
    #book20 .arrows-carrusel2 .arrow-left {
        opacity: 0;
    }

    #book5 .arrows-carrusel2 .arrow-rigth,
    #book6 .arrows-carrusel2 .arrow-left,
    #book15 .arrows-carrusel2 .arrow-rigth,
    #book16 .arrows-carrusel2 .arrow-left {
        opacity: 1;
    }

    .author-3 {
        display: flex;
    }

    .redes p {
        margin: 8px 0 10px 0;
        font-size: 14px;
    }

    .second-footer h4{
        font-size: 17px;
    }

    .second-footer p{
        font-size: 15px;
    }

    .third-footer p {
        text-align: end;
        font-size: 15px;
    }

    /* TODOS LOS LIBROS */

    .products {
        max-width: 1450px;
    }

    .product-book-end {
        width: 19%;
    }
}

@media (min-width: 1430px) {
    .icons-info {
        width: 390px;
        max-width: 375px;
    }
    
    .carrusel-oferts {
        height: 40vh;
    }

    .carrusel-products {
        max-width: 1310px;
    }

    .product-book {
        width: 21%;
        max-width: 220px;
    }

    .arrows-carrusel2 {
        min-width: 261px;
    }

    /* TODOS LOS LIBROS */

    .products {
        max-width: 1650px;
    }
}


