<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
</head>

<body>
    <div class="big-body">
        <div class="body-left">
            <!-- <a href="" class="burguer-menu-2"><i class="fa-solid fa-bars"></i></a> -->
            <div class="categorys">
                <a href=""><h3>Categorias</h3></a>
                <a href="#suspenso"><p>Suspenso</p>
                <a href="#cienciaFiccion"><p>Ciencia Ficción</p></a>
            </div>

            <div class="redes-body-left">
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>

        <div class="body-rigth">
            <header class="main-header">
                <nav>
                    <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

                    <img class="logo" src="/images/logo-BookHouse.svg" alt="">

                    <div class="navbar-rigth">
                        <input type="text" placeholder="Buscá tu producto">
                        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                    <div class="icons-info">
                        <div class="min-icon">
                            <i class="fa-solid fa-user"></i>
                            <p>Ingresar</p>
                        </div>

                        <div class="min-icon">
                            <i class="fa-solid fa-heart"></i>
                            <p>Favoritos</p>
                        </div>

                        <div class="min-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>Carrito</p>
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                <section class="carrusel-oferts">

                    <article class="item-carrusel" id="ImageCarrusel-1">
                        <div class="image-carrusel" id="tarjetaCarrusel-1">
                            <!-- <img src="/images/librosOfertas.png" alt="libros en ofertas/descuento"> -->
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-3"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-2"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-solid fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-3"><i class="fa-regular fa-circle"></i></a>
                        </div>

                        <div class="info-carrusel">
                            <h2>OFERTAS/DESCUENTOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article>

                    <article class="item-carrusel" id="ImageCarrusel-2">
                        <div class="image-carrusel" id="tarjetaCarrusel-2">
                            <!-- <img src="/images/librosConMasVentas.png" alt="libros con más ventas"> -->
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-1"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-3"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-solid fa-circle"></i></a>
                            <a href="#ImageCarrusel-3"><i class="fa-regular fa-circle"></i></a>
                        </div>

                        <div class="info-carrusel">
                            <h2>LIBROS MÁS VENDIDOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article>

                    <article class="item-carrusel" id="ImageCarrusel-3">
                        <div class="image-carrusel" id="tarjetaCarrusel-3">
                            C
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-2"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-1"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-3"><i class="fa-solid fa-circle"></i></a>
                        </div>

                        <div class="info-carrusel">
                            <h2>OFERTAS/DESCUENTOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article>
                </section>

                <h2 id="suspenso">Suspenso</h2>
                <section class="carrusel-products">
                    <article class="product-book" id="book1">
                        <div class="book">
                            <img src="/images/LaSombraDelViento.png" alt="La Sombra Del Viento">
                        </div>

                        <div class="info-book">
                            <h3>La Sombra Del Viento</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book10" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book2" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book2">
                        <div class="book">
                            <img src="/images/Perdida.png" alt="Perdida">
                        </div>

                        <div class="info-book">
                            <h3>Perdida</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book1" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book3" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book3">
                        <div class="book">
                            <img src="/images/ElSilencioDeLaCiudadBlanca.png" alt="El Silencio De La Ciudad Blanca">
                        </div>

                        <div class="info-book">
                            <h3>El Silencio De La Ciudad Blanca</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book2" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book4" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book4">
                        <div class="book">
                            <img src="/images/LaCupula.png" alt="La Cúpula">
                        </div>

                        <div class="info-book">
                            <h3>La Cúpula</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book3" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book5" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book5">
                        <div class="book">
                            <img src="/images/ElExorcista.png" alt="El Exorcista">
                        </div>

                        <div class="info-book">
                            <h3>El Exorcista</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book4" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book6" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book6">
                        <div class="book">
                            <img src="/images/LaCasaInfernal.png" alt="La Casa Infernal">
                        </div>

                        <div class="info-book">
                            <h3>La Casa Infernal</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book5" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book7" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book7">
                        <div class="book">
                            <img src="/images/ParqueJurasico.png" alt="Parque Jurásico">
                        </div>

                        <div class="info-book">
                            <h3>Parque Jurásico</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book6" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book8" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book8">
                        <div class="book">
                            <img src="/images/LaGuerraInterminable.png" alt="La Guerra Interminable">
                        </div>

                        <div class="info-book">
                            <h3>La Guerra Interminable</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book7" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book9" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book9">
                        <div class="book">
                            <img src="/images/Fahrenheit-451.png" alt="Fanrenheit 451">
                        </div>

                        <div class="info-book">
                            <h3>Fanrenheit 451</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book8" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book10" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book10">
                        <div class="book">
                            <img src="/images/ElHobbit.png" alt="El Hobbit">
                        </div>

                        <div class="info-book">
                            <h3>El Hobbit</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book9" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book1" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                </section>


                <h2>Autores recomendados</h2>
                <section class="authors">

                    <article class="author-book author-1">
                        <a href="#"><img src="/images/JorgeLuisBorges.jpg" alt="imagen de autor"></a>
                        <h3>Jorge Luis Borges</h3>
                    </article>

                    <article class="author-book author-2">
                        <a href="#"><img src="/images/GabrielGarciaMarquez.jpg" alt="imagen de autor"></a>
                        <h3>Gabriel García Márquez</h3>
                    </article>

                    <article class="author-book author-3">
                        <a href="#"><img src="/images/JorgeLuisBorges.jpg" alt="imagen de autor"></a>
                        <h3>Jorge Luis Borges</h3>
                    </article>

                </section>

                <h2 id="cienciaFiccion">Ciencia Ficción</h2>
                <section class="carrusel-products">

                    <article class="product-book" id="book11">
                        <div class="book">
                            <img src="/images/ParqueJurasico.png" alt="Parque Jurásico">
                        </div>

                        <div class="info-book">
                            <h3>Parque Jurásico</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book20" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book12" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book12">
                        <div class="book">
                            <img src="/images/LaGuerraInterminable.png" alt="La Guerra Interminable">
                        </div>

                        <div class="info-book">
                            <h3>La Guerra Interminable</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book11" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book13" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book13">
                        <div class="book">
                            <img src="/images/Fahrenheit-451.png" alt="Fanrenheit 451">
                        </div>

                        <div class="info-book">
                            <h3>Fanrenheit 451</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book12" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book14" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book14">
                        <div class="book">
                            <img src="/images/ElHobbit.png" alt="El Hobbit">
                        </div>

                        <div class="info-book">
                            <h3>El Hobbit</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book13" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book15" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book15">
                        <div class="book">
                            <img src="/images/CiudadSinEstrellas.png" alt="Ciudad Sin Estrellas">
                        </div>

                        <div class="info-book">
                            <h3>Ciudad Sin Estrellas</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book14" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book16" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book16">
                        <div class="book">
                            <img src="/images/LaCiudadYLaCiudad.png" alt="La Ciudad Y La Ciudad">
                        </div>

                        <div class="info-book">
                            <h3>La Ciudad Y La Ciudad</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book15" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book17" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book17">
                        <div class="book">
                            <img src="/images/Fahrenheit-451.png" alt="Fanrenheit 451">
                        </div>

                        <div class="info-book">
                            <h3>Fanrenheit 451</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book16" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book18" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book18">
                        <div class="book">
                            <img src="/images/ElHobbit.png" alt="El Hobbit">
                        </div>

                        <div class="info-book">
                            <h3>El Hobbit</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book17" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book19" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book19">
                        <div class="book">
                            <img src="/images/CiudadSinEstrellas.png" alt="Ciudad Sin Estrellas">
                        </div>

                        <div class="info-book">
                            <h3>Ciudad Sin Estrellas</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book18" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book20" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book20">
                        <div class="book">
                            <img src="/images/LaGuerraInterminable.png" alt="La Guerra Interminable">
                        </div>

                        <div class="info-book">
                            <h3>La Guerra Interminable</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book19" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book11" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                </section>

                <h2>Autores recomendados</h2>
                <section class="authors">

                    <article class="author-book author-1">
                        <a href="#"><img src="/images/JorgeLuisBorges.jpg" alt="imagen de autor"></a>
                        <h3>Jorge Luis Borges</h3>
                    </article>

                    <article class="author-book author-2">
                        <a href="#"><img src="/images/GabrielGarciaMarquez.jpg" alt="imagen de autor"></a>
                        <h3>Gabriel García Márquez</h3>
                    </article>

                    <article class="author-book author-3">
                        <a href="#"><img src="/images/JorgeLuisBorges.jpg" alt="imagen de autor"></a>
                        <h3>Jorge Luis Borges</h3>
                    </article>

                </section>
            </main>

            <footer>
                <section class="first-footer">
                    <div class="div-logo">
                        <img class="logo-footer" src="/images/logo-BookHouse.svg" alt="logo">
                    </div>
                    <div class="redes">
                        <a href="">
                            <p>Instragram <i class="fa-brands fa-square-instagram"></i> </p>
                        </a>
                        <a href="">
                            <p>Facebook <i class="fa-brands fa-facebook"></i> </p>
                        </a>
                        <a href="">
                            <p>Twitter <i class="fa-brands fa-twitter"></i> </p>
                        </a>
                    </div>
                </section>

                <!-- <section class="second-footer">
            <h4>Nuestros locales</h4>
            <p></p>
        </section> -->

                <section class="second-footer">
                    <h4>Nuestra Empresa</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit repellendus voluptate quam
                        eligendi! Ut, rerum!</p>
                </section>

                <section class="third-footer">
                    <p><i class="fa-solid fa-copyright"></i> Copyright 2023 Book House, todos los derechos reservados.</p>
                </section>
            </footer>
        </div>
    </div>
</body>

</html>