<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class=login-box>
    <header>
            <img class="logo" src="/images/logo-BookHouse.svg" alt="logo">
    </header>
    <main>
        <form action="">
            
            <label for="email">Email
                <div class="email">
                    <input type="email" name="email" id="email" placeholder="example@email.com">
                    <i class="fa-solid fa-user"></i>
                </div>
            </label>                
            
            <label for="contraseña">Contraseña
                <div class="contraseña">
                    <input type="password" name="contraseña" id="contraseña" placeholder="ingresar contraseña">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </label>
            <input type="submit" value="Iniciar Sesión">
            <a href="">¿Olvidaste tu contraseña?</a>
        </form>
    </main>
    </div>
</body>
</html>
