<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesProductDetail.css">
</head>
<body>
    <header>
        <input text placeholder="busca tu libro o autor aqui">
    
    </header>
    <main>
        <img src="" alt="">
<h2>Titulo del libro</h2>
<h3>Autor</h3>
<h4>Trama</h4>
<h4>Edicion</h4>
<h2>sinopsis y detelle</h2>
<p>fasgtjnjfanjaffanjnjavfnjvfnvfavfannvafnfvavano</p>

<h3>formato</h3>
<button>digital</button>
<button>fisico</button>
<button>agregar</button>


    </main>
    <footer>
<h5>instagram</h5>
<h5>facebook</h5>
<h5>twitter</h5>

<h4>nuestros locales</h4>
<h4>nuestras empresas</h4>
<h4>@copyrigth</h4>
    </footer>
</body>
</html>