<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8";>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Register</title>
</head>
<body>
    <div class="register-box">
    <header>
        <img class="logo" src="/grupo_5_BookHouse/public/images/logo-BookHouse.svg" alt="logo">
    </header>
    <main>
        <h4>Nombre y Apellido</h4>
        <div class="Nombre y Apellido">
            <input type="" name="" id="">
            <i class="fa-solid fa-lock"></i>
        </div>
        <h4>Email</h4>
        <div class="email">
            <input type="email" name="" id="" placeholder="example@gmail.com">
            <i class="fa-solid fa-lock"></i>
        </div>
        <h4>Contraseña</h4>
        <div class="contraseña">
            <input type="password" name="" id="" placeholder="Ingresar contraseña">
            <i class="fa-solid fa-lock"></i>
        </div>
        <div>
            <label><input type="checkbox">Deseo recibir notificaciones sobre ofertas y recomendaciones</label>
        </div>
        <div>
            <label><input type="checkbox">Acepto los terminos y condiciones</label>
        </div>
        <input type="submit" value="Registrar">
    </main>
    </dif>
</body>
</html>