<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
</head>

<body>
    <div class="big-body">
        <%- include('../partials/bodyLeft.ejs') %>

        <div class="body-rigth">
            <%- include('../partials/header.ejs') %>

            <main>
                <section class="carrusel-oferts">

                    <article class="item-carrusel" id="ImageCarrusel-1">
                        <div class="image-carrusel" id="tarjetaCarrusel-1">
                            <img src="/images/Ofertas01.png" alt="libros en ofertas/descuento">
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-2"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-2"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-solid fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-regular fa-circle"></i></a>
                            <!-- <a href="#ImageCarrusel-3"><i class="fa-regular fa-circle"></i></a> -->
                        </div>

                        <div class="info-carrusel">
                            <h2>OFERTAS/DESCUENTOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article>

                    <article class="item-carrusel" id="ImageCarrusel-2">
                        <div class="image-carrusel" id="tarjetaCarrusel-2">
                            <img src="/images/LibrosMasVendidos.png" alt="libros con más ventas">
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-1"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-1"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-solid fa-circle"></i></a>
                            <!-- <a href="#ImageCarrusel-3"><i class="fa-regular fa-circle"></i></a> -->
                        </div>

                        <div class="info-carrusel">
                            <h2>LIBROS MÁS VENDIDOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article>

                    <!-- <article class="item-carrusel" id="ImageCarrusel-3">
                        <div class="image-carrusel" id="tarjetaCarrusel-3">
                            C
                        </div>

                        <div class="arrows-carrusel">
                            <a href="#ImageCarrusel-2"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#ImageCarrusel-1"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="circlesCarrusel">
                            <a href="#ImageCarrusel-1"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-2"><i class="fa-regular fa-circle"></i></a>
                            <a href="#ImageCarrusel-3"><i class="fa-solid fa-circle"></i></a>
                        </div>

                        <div class="info-carrusel">
                            <h2>OFERTAS/DESCUENTOS</h2>
                            <button>VER MÁS</button>
                        </div>
                    </article> -->
                </section>

                <h2 id="suspenso">Suspenso</h2>
                <section class="carrusel-products">
                    <article class="product-book" id="book1">
                        <div class="book">
                            <img src="/images/LaSombraDelViento.png" alt="La Sombra Del Viento">
                        </div>

                        <div class="info-book">
                            <h3>La Sombra Del Viento</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book10" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book2" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book2">
                        <div class="book">
                            <img src="/images/Perdida.png" alt="Perdida">
                        </div>

                        <div class="info-book">
                            <h3>Perdida</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book1" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book3" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book3">
                        <div class="book">
                            <img src="/images/Misery.png" alt="Misery">
                        </div>

                        <div class="info-book">
                            <h3>Misery</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book2" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book4" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book4">
                        <div class="book">
                            <img src="/images/LaCupula.png" alt="La Cúpula">
                        </div>

                        <div class="info-book">
                            <h3>La Cúpula</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book3" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book5" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book5">
                        <div class="book">
                            <img src="/images/ElExorcista.png" alt="El Exorcista">
                        </div>

                        <div class="info-book">
                            <h3>El Exorcista</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book4" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book6" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book6">
                        <div class="book">
                            <img src="/images/LaCasaInfernal.png" alt="La Casa Infernal">
                        </div>

                        <div class="info-book">
                            <h3>La Casa Infernal</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book5" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book7" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book7">
                        <div class="book">
                            <img src="/images/Inferno.png" alt="Inferno">
                        </div>

                        <div class="info-book">
                            <h3>Inferno</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book6" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book8" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book8">
                        <div class="book">
                            <img src="/images/ElResplandor.png" alt="El Resplandor">
                        </div>

                        <div class="info-book">
                            <h3>El Resplandor</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book7" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book9" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book9">
                        <div class="book">
                            <img src="/images/AngelesYDemonios.png" alt="Ángeles Y Demonios">
                        </div>

                        <div class="info-book">
                            <h3>Ángeles Y Demonios</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book8" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book10" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book10">
                        <div class="book">
                            <img src="/images/Terapia.png" alt="Terapia">
                        </div>

                        <div class="info-book">
                            <h3>Terapia</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book9" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book1" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                </section>


                <h2>Autores recomendados</h2>
                <section class="authors">

                    <article class="author-book author-1">
                        <a href="#"><img src="/images/JorgeLuisBorges.jpg" alt="imagen de autor"></a>
                        <h3>Jorge Luis Borges</h3>
                    </article>

                    <article class="author-book author-2">
                        <a href="#"><img src="/images/GabrielGarciaMarquez.jpg" alt="imagen de autor"></a>
                        <h3>Gabriel García Márquez</h3>
                    </article>

                    <article class="author-book author-3">
                        <a href="#"><img src="/images/StephenKing.jpg" alt="imagen de autor"></a>
                        <h3>Stephen King</h3>
                    </article>

                </section>

                <h2 id="cienciaFiccion">Ciencia Ficción</h2>
                <section class="carrusel-products">

                    <article class="product-book" id="book11">
                        <div class="book">
                            <img src="/images/ParqueJurasico.png" alt="Parque Jurásico">
                        </div>

                        <div class="info-book">
                            <h3>Parque Jurásico</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book20" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book12" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book12">
                        <div class="book">
                            <img src="/images/1984.png" alt="1984">
                        </div>

                        <div class="info-book">
                            <h3>1984</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book11" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book13" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book13">
                        <div class="book">
                            <img src="/images/Fahrenheit-451.png" alt="Fanrenheit 451">
                        </div>

                        <div class="info-book">
                            <h3>Fanrenheit 451</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book12" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book14" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book14">
                        <div class="book">
                            <img src="/images/ElHobbit.png" alt="El Hobbit">
                        </div>

                        <div class="info-book">
                            <h3>El Hobbit</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book13" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book15" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book15">
                        <div class="book">
                            <img src="/images/CiudadSinEstrellas.png" alt="Ciudad Sin Estrellas">
                        </div>

                        <div class="info-book">
                            <h3>Ciudad Sin Estrellas</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book14" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book16" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book16">
                        <div class="book">
                            <img src="/images/LaCiudadYLaCiudad.png" alt="La Ciudad Y La Ciudad">
                        </div>

                        <div class="info-book">
                            <h3>La Ciudad Y La Ciudad</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book15" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book17" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book17">
                        <div class="book">
                            <img src="/images/Aniquilacion.png" alt="Aniquilación">
                        </div>

                        <div class="info-book">
                            <h3>Aniquilación</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book16" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book18" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book18">
                        <div class="book">
                            <img src="/images/Rascacielos.png" alt="Rascacielos">
                        </div>

                        <div class="info-book">
                            <h3>Rascacielos</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book17" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book19" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book19">
                        <div class="book">
                            <img src="/images/Neuromante.png" alt="Neuromante">
                        </div>

                        <div class="info-book">
                            <h3>Neuromante</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book18" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book20" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book" id="book20">
                        <div class="book">
                            <img src="/images/ElMundoSumergido.png" alt="El Mundo Sumergido">
                        </div>

                        <div class="info-book">
                            <h3>El Mundo Sumergido</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="arrows-carrusel2">
                            <a href="#book19" class="arrow-left"> <i class="fa-solid fa-chevron-left"></i> </a>
                            <a href="#book11" class="arrow-rigth"> <i class="fa-solid fa-chevron-right"></i> </a>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                </section>

                <h2>Autores recomendados</h2>
                <section class="authors">

                    <article class="author-book author-1">
                        <a href="#"><img src="/images/MichaelCrichton.jpg" alt="imagen de autor"></a>
                        <h3>Michael Crichton</h3>
                    </article>

                    <article class="author-book author-2">
                        <a href="#"><img src="/images/J.G.Ballard.jpg" alt="imagen de autor"></a>
                        <h3>J. G. Ballard</h3>
                    </article>

                    <article class="author-book author-3">
                        <a href="#"><img src="/images/WilliamGibson.jpg" alt="imagen de autor"></a>
                        <h3>William Gibson</h3>
                    </article>

                </section>

                <h2>Todos los libros SUSPENSO</h2>
                <section class="products">
                    
                    <article class="product-book-end" id="book1">
                        <div class="book">
                            <img src="/images/LaSombraDelViento.png" alt="La Sombra Del Viento">
                        </div>

                        <div class="info-book">
                            <h3>La Sombra Del Viento</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book2">
                        <div class="book">
                            <img src="/images/Perdida.png" alt="Perdida">
                        </div>

                        <div class="info-book">
                            <h3>Perdida</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book3">
                        <div class="book">
                            <img src="/images/Misery.png" alt="Misery">
                        </div>

                        <div class="info-book">
                            <h3>Misery</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book4">
                        <div class="book">
                            <img src="/images/LaCupula.png" alt="La Cúpula">
                        </div>

                        <div class="info-book">
                            <h3>La Cúpula</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book5">
                        <div class="book">
                            <img src="/images/ElExorcista.png" alt="El Exorcista">
                        </div>

                        <div class="info-book">
                            <h3>El Exorcista</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book6">
                        <div class="book">
                            <img src="/images/LaCasaInfernal.png" alt="La Casa Infernal">
                        </div>

                        <div class="info-book">
                            <h3>La Casa Infernal</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book7">
                        <div class="book">
                            <img src="/images/Inferno.png" alt="Inferno">
                        </div>

                        <div class="info-book">
                            <h3>Inferno</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book8">
                        <div class="book">
                            <img src="/images/ElResplandor.png" alt="El Resplandor">
                        </div>

                        <div class="info-book">
                            <h3>El Resplandor</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book9">
                        <div class="book">
                            <img src="/images/AngelesYDemonios.png" alt="Ángeles Y Demonios">
                        </div>

                        <div class="info-book">
                            <h3>Ángeles Y Demonios</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book10">
                        <div class="book">
                            <img src="/images/Terapia.png" alt="Terapia">
                        </div>

                        <div class="info-book">
                            <h3>Terapia</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                </section>

                <h2>Todos los libros Ciencia Ficción</h2>
                <section class="products">

                    <article class="product-book-end" id="book11">
                        <div class="book">
                            <img src="/images/ParqueJurasico.png" alt="Parque Jurásico">
                        </div>

                        <div class="info-book">
                            <h3>Parque Jurásico</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book12">
                        <div class="book">
                            <img src="/images/1984.png" alt="1984">
                        </div>

                        <div class="info-book">
                            <h3>1984</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book13">
                        <div class="book">
                            <img src="/images/Fahrenheit-451.png" alt="Fanrenheit 451">
                        </div>

                        <div class="info-book">
                            <h3>Fanrenheit 451</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book14">
                        <div class="book">
                            <img src="/images/ElHobbit.png" alt="El Hobbit">
                        </div>

                        <div class="info-book">
                            <h3>El Hobbit</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book15">
                        <div class="book">
                            <img src="/images/CiudadSinEstrellas.png" alt="Ciudad Sin Estrellas">
                        </div>

                        <div class="info-book">
                            <h3>Ciudad Sin Estrellas</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book16">
                        <div class="book">
                            <img src="/images/LaCiudadYLaCiudad.png" alt="La Ciudad Y La Ciudad">
                        </div>

                        <div class="info-book">
                            <h3>La Ciudad Y La Ciudad</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book17">
                        <div class="book">
                            <img src="/images/Aniquilacion.png" alt="Aniquilación">
                        </div>

                        <div class="info-book">
                            <h3>Aniquilación</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book18">
                        <div class="book">
                            <img src="/images/Rascacielos.png" alt="Rascacielos">
                        </div>

                        <div class="info-book">
                            <h3>Rascacielos</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book19">
                        <div class="book">
                            <img src="/images/Neuromante.png" alt="Neuromante">
                        </div>

                        <div class="info-book">
                            <h3>Neuromante</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>

                    <article class="product-book-end" id="book20">
                        <div class="book">
                            <img src="/images/ElMundoSumergido.png" alt="El Mundo Sumergido">
                        </div>

                        <div class="info-book">
                            <h3>El Mundo Sumergido</h3>
                            <h3>$0000</h3>
                        </div>

                        <div class="add">
                            <a>AGREGAR</a>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </article>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
        </div>
    </div>
</body>

</html>