<div class="body-left">
    <!-- <a href="" class="burguer-menu-2"><i class="fa-solid fa-bars"></i></a> -->
    <div class="categorys">
        <a href=""><h3>Categorias</h3></a>
        <a href="/#allProducts"><p>Todos los productos</p></a>
        <a href="/#suspenso"><p>Suspenso</p>
        <a href="/#cienciaFiccion"><p>Ciencia Ficción</p></a>
        <% if (locals.userLogged && locals.userLogged.rol_id == 1) { %>
        <a href="/product/add"><p class="addProduct">Agregar producto</p></a>
        <% } %>
    </div>

    <div class="redes-body-left">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>