<header class="main-header">
    <nav>
        <button class="burguer-menu"><i class="fa-solid fa-bars"></i></button>

        <a class="logoLink" href="/"><img class="logo" src="/images/products/logo-BookHouse.svg" alt=""></a>

        <form action="/search" method="get" class="navbar-rigth">
            <input type="text" placeholder="Buscá tu producto" name="search">
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="icons-info">
        <% if(locals.userLogged) { %>
                <div class="min-icon">
                    <i class="fa-solid fa-user"></i>
                    <a href="/user/<%= locals.userLogged.id %>/profile"><p><%= locals.userLogged.name %></p></a>
                </div>

                <div class="min-icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <a href="/user/logout"><p>Salir</p></a>
                </div>
            <% } else { %>
                <div class="min-icon">
                    <i class="fa-solid fa-user"></i>
                    <a href="/user/login"><p>Ingresar</p></a>
                </div>
            <% } %>

            <div class="min-icon">
                <i class="fa-solid fa-heart"></i>
                <a href="/product/favorites"><p>Favoritos</p></a>
            </div>

            <div class="min-icon">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="/product/cart"><p>Carrito</p></a>
                <span class="badge red z-depth-1 mr-1 cart-number badge">0</span>
            </div>
        </div>
    </nav>
</header>