<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class=login-box>
    <header>
            <img class="logo" src="/images/products/logo-BookHouse.svg" alt="logo">
    </header>
    <main>
        <form action="/user/login" method="post">
            
            <label for="email">Email
                <div class="email">
                    <input type="text" name="email" id="email" placeholder="example@email.com">
                    <div class="iconos">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger"><%= errors.email %></div>
                <% } %>
            </label>                
            
            <label for="contraseña">Contraseña
                <div class="contraseña">
                    <input type="password" name="password" id="password" placeholder="ingresar contraseña">
                    <div class="iconos">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger"><%= errors.password %></div>
                <% } %>
            </label>
            
            <div id="recordar">
                <label for="recordar">
                    <input type="checkbox" name="recordar" id="recordar">Recordar usuario y contraseña
                </label>
            </div>
            <input type="submit" value="Iniciar Sesión">
            <a href="">¿Olvidaste tu contraseña?</a>
            <a href="/user/register" id="tienes-cuenta">No tienes cuenta? Registrate</a>
        </form>
    </main>
    </div>
</body>
</html>
