<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8";>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Register</title>
</head>
<body>
    <div class="register-box">
    <header>
        <img class="logo" src="/images/logo-BookHouse.svg" alt="logo">
    </header>
    <main>

        <div class='nombre-y-apellido'>
            <label for="fullname">Nombre y Apellido
                <input type="nombre-y-apellido" name="fullname" id="fullname" placeholder="Pedro Rodriguez">
                <i class="fa-solid fa-lock"></i>
            </label>
        </div>

        <div class="email">
            <label for="email">Email
                <input type="email" name="email" id="email" placeholder="example@gmail.com">
                <i class="fa-solid fa-lock"></i>
            </label>
        </div>

        <div class='contraseña'>
            <label for="password">Contraseña
                <input type="password" name="password" id="password" placeholder="Ingresar contraseña">
                <i class="fa-solid fa-lock"></i>
            </label>
        </div>

        <div id="notificaciones">
            <label for="notifications">
                <input type="checkbox" name="notifications" id="notifications" checked>
                Deseo recibir notificaciones acerca de ofertas y recomendaciones
            </label>
        </div>

        <div id="terminos">
            <label for="termines">
                <input type="checkbox" name="termines" id="termines">
                Acepto los terminos y condiciones
            </label>
        </div>

        <input type="submit" value="Registrar">
    </main>
    </dif>
</body>
</html>