<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8";>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Register</title>
</head>
<body>
    <div class="register-box">
    <header>
        <img class="logo" src="/images/logo-BookHouse.svg" alt="logo">
    </header>
    <main>
        <form action="/user/register" method="post">

        <div class='nombre-y-apellido input-register'>
            <label for="fullname">Nombre y Apellido
                <input type="text" name="fullname" id="fullname" placeholder="Pedro Rodriguez">
                <i class="fa-solid fa-lock"></i>
            </label>
            <% if (locals.errors && errors.fullname) { %>
                <div class="text-danger"><%= errors.fullname %></div>
            <% } %>
        </div>

        <div class="email input-register">
            <label for="email">Email
                <input type="text" name="email" id="email" placeholder="example@gmail.com">
                <i class="fa-solid fa-lock"></i>
            </label>
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger"><%= errors.email %></div>
            <% } %>
        </div>

        <div class='contrase침a input-register'>
            <label for="password">Contrase침a
                <input type="password" name="password" id="password" placeholder="Ingresar contrase침a">
                <i class="fa-solid fa-lock"></i>
            </label>
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger"><%= errors.password %></div>
            <% } %>
        </div>

        <div class='image-avatar'>
            <label for="image">Imagen
                <input type="file" name="image" id="image">
                <i class="fa-solid fa-lock"></i>
            </label>
            <% if (locals.errors && errors.image) { %>
                <div class="text-danger"><%= errors.image %></div>
            <% } %>
        </div>

        <div id="notificaciones">
            <label for="notifications">
                <input type="checkbox" name="notifications" id="notifications" checked>
                Deseo recibir notificaciones acerca de ofertas y recomendaciones
            </label>
        </div>

        <div id="terminos">
            <label for="termines">
                <input type="checkbox" name="termines" id="termines">
                Acepto los terminos y condiciones
            </label>
        </div>

        <input type="submit" value="Registrar">

        <a href="/user/login" class="tienes-cuenta">Ya tienes cuenta? Iniciar Sesi칩n</a>
    </form>

    </main>
    </dif>
</body>
</html>