<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles404.css">
    <title>404</title>
</head>
<body>
    <div class="error-div">
        <h1>404 NOT FOUND</h1>
        <h3>Aquí no hay ningún libro por ver, mejor volvamos al home!!</h3>
        <img src="/images/products/bibliotecaVacia.jpg" alt="">
        <form action="/">
            <button type="submit">HOME</button>
        </form>
    </div>
</body>
</html>