<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProductCart.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
        <div class="miCarrito">
            <h2><strong>MI</strong></h1>
        <h2><strong>CARRITO</strong></h1>
        </div>
        <button class="cerrar">
            <i class="fa-sharp fa-regular fa-circle-xmark fa-3x""></i>
        </button>
    </header>
    <main>
        <article class="contenedor">
            <button class="cerrar-2">
                <i class="fa-sharp fa-regular fa-circle-xmark fa-2x""></i>
            </button>
            <section class="caja">
                <div class="imagen"> <img src="/images/LaSombraDelViento.png" alt="Nombre del Libro" width="150vw"></div>
                <ul class="texto">
                    <li class="nombre">La Sombra del Viento</li>
                    <li class="autor">Carlos Ruiz Zafón</li>
                    <li class="cantidad">
                        <button class="botoncarrito">-</button>
                        <input type="text" class="inputCantidad">
                        <button class="botoncarrito">+</button>
                        <li class="botonesFyD">
                    <button class="Fisico">Fisico</button>
                    <button class="Digital">Digital</button></li></li>
                    <li class="precio">$9585.00</li>
                </ul>
            </section>
            <button class="cerrar-2">
                <i class="fa-sharp fa-regular fa-circle-xmark fa-2x""></i>
            </button>
            <section class="caja">
                <div class="imagen"> <img src="/images/LaCupula.png" alt="Nombre del Libro" width="150vw"></div>
                <ul class="texto">
                    <li class="nombre">La Cúpula</li>
                    <li class="autor">Stephen King</li>
                    <li class="cantidad">
                        <button class="botoncarrito">-</button>
                        <input type="text" class="inputCantidad">
                        <button class="botoncarrito">+</button>
                        <li class="botonesFyD">
                        <button class="Fisico">Fisico</button>
                        <button class="Digital">Digital</button></li></li>
                    <li class="precio">$7600.00</li>
                </ul>
            </section>
            <button class="cerrar-2">
                <i class="fa-sharp fa-regular fa-circle-xmark fa-2x""></i>
            </button>
            <section class="caja">
                <div class="imagen"> <img src="/images/LaCasaInfernal.png" alt="Nombre del Libro" width="150vw"></div>
                <ul class="texto">
                    <li class="nombre">La Casa Infernal</li>
                    <li class="autor">Richard Matheson</li>
                    <li class="cantidad">
                        <button class="botoncarrito">-</button>
                        <input type="text" class="inputCantidad">
                        <button class="botoncarrito">+</button>
                        <li class="botonesFyD">
                        <button class="Fisico">Fisico</button>
                        <button class="Digital">Digital</button></li></li>
                        <li class="precio">$7400.75</li>
                    </ul>
            </section>
        </article>
    </main>
    <footer>
        <div class="subtotal">
            <h3 class="subtotalp">SUBTOTAL</h3>
            <h3 class="subtotalPrecio">$24585.75</h3>
        </div>
        <div class="linea"></div>
        <section class="tarjetas">
            <div><img src="/images/visa.jpg" alt="visa"width="100px"></div>
            <div><img src="/images/master-card.jpg" alt="master-card"width="100px"></div>
            <div><img src="/images/american-express.png" alt="american-express"width="100px"></div>
        </section>
        <div class="botonfinal">
            <button type="send" class="finalizarCompra">FINALIZAR COMPRA</button>
        </div>
    </footer>
</body>
</html>