<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
</head>

<body>
    <div class="big-body">
        <%- include('../partials/bodyLeft.ejs') %>

        <div class="body-rigth">
            <%- include('../partials/header.ejs') %>

            <main>
                <section class="productsAll" id="allProducts">
                    <h2>LIBROS FAVORITOS</h2>
                </section>

                <section class="products">                  
                    
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
    </div>
    <script src="/js/favorites.js"></script>
</body>

</html>

